<nav>
  <h1>Hello!</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h3>I'm <a href="/">{{ site.data.theme.name }}</a>.</h3>
  <div id="bio">
    <p>Developer and writer. Enthusiastically bad at pinball. </p>
    <p>
    Learning to tell compelling stories with code.
    </p>
    <p>
    <a href="index">Home</a> | <a href="about">About</a> | <a href="portfolio">Portfolio</a>
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
