<nav>
  <h1>Hello!</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h3>I'm <a href="/">{{ site.data.theme.name }}</a>.</h3>
  <div id="bio">
    <p><a href="http://umsi.umich.edu">UMSI</a> student & software developer exploring maps, GUIs, NLP, and cute photos of cats. Enthusiastically bad at pinball. </p>
    <p>
    View my <a href="portfolio">portfolio</a>.<br>
    Read my <a href="blog">blog posts</a>.<br>
    Learn more <a href="about">about me</a>.<br>
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
